<div class="module module-zvezda" [class.closed-module]="areAllValvesClosed(modules[0])" [class.selected-module]="selectedModule?.moduleID == 0"
    (click)="changeActiveModule(0)">
    <app-module-controller [module]="modules[0]"></app-module-controller>
</div>

<div class="module module-zarya" [class.closed-module]="areAllValvesClosed(modules[1])" [class.selected-module]="selectedModule?.moduleID == 1"
    (click)="changeActiveModule(1)">
    <app-module-controller [module]="modules[1]"></app-module-controller>
</div>

<div class="module module-unity" [class.closed-module]="areAllValvesClosed(modules[2])" [class.selected-module]="selectedModule?.moduleID == 2"
    (click)="changeActiveModule(2)">
    <app-module-controller [module]="modules[2]"></app-module-controller>
</div>

<div class="module module-tranquility" [class.closed-module]="areAllValvesClosed(modules[3])" [class.selected-module]="selectedModule?.moduleID == 3"
    (click)="changeActiveModule(3)">
    <app-module-controller [module]="modules[3]"></app-module-controller>
</div>

<div class="module module-airlock" [class.closed-module]="areAllValvesClosed(modules[4])" [class.selected-module]="selectedModule?.moduleID == 4"
    (click)="changeActiveModule(4)">
    <app-module-controller [module]="modules[4]"></app-module-controller>
</div>

<div class="module module-destiny" [class.closed-module]="areAllValvesClosed(modules[5])" [class.selected-module]="selectedModule?.moduleID == 5"
    (click)="changeActiveModule(5)">
    <app-module-controller [module]="modules[5]"></app-module-controller>
</div>

<div class="module module-node2" [class.closed-module]="areAllValvesClosed(modules[6])" [class.selected-module]="selectedModule?.moduleID == 6"
    (click)="changeActiveModule(6)">
    <app-module-controller [module]="modules[6]"></app-module-controller>
</div>

<div class="module module-columbus" [class.closed-module]="areAllValvesClosed(modules[7])" [class.selected-module]="selectedModule?.moduleID == 7"
    (click)="changeActiveModule(7)">
    <app-module-controller [module]="modules[7]"></app-module-controller>
</div>

<div id="sidebar">
    <div id="module-details">
        <app-module-details [module]="selectedModule"></app-module-details>

        <div id="condition-simulator">
            <span>
                <button (click)="simulateFire()"><i class="fa fa-fire"></i> Simulate Fire</button>
                <button (click)="simulateAirLeak()"><i class="fa fa-exclamation-triangle"></i> Simulate Air Leak</button>
            </span>
        </div>
        <div class="reset-button">
            <button (click)="resetToDefault()">Reset System</button>
        </div>
    </div>

    <div id="legend">
        <ul>
            <li><i class="fa fa-circle-o fa-2x pad-right"><i class="fa fa-gear fa-spin"></i></i><strong>Valve With Fan</strong></li>
            <li><i class="fa fa-circle-o fa-2x pad-right"></i><strong>Valve Without Fan</strong></li>
            <li><i class="fa fa-square fa-2x pad-right "></i><strong>Red Indicates Valve/Module is Closed</strong></li>
            <li><i class="fa fa-fire fa-2x module-fire pad-right"></i><strong> Fire is Present</strong></li>
            <li><i class="fa fa-exclamation-triangle fa-2x module-airLeak pad-right"></i><strong>Air Leak is Present </strong></li>
            <li><i class="fa fa-refresh fa-2x pad-right"></i><strong>Open Selected Valve </strong></li>
        </ul>
    </div>
</div>