.module {
    width:150px;
    height:150px;
    border:2px solid slategray;
    border-radius:5px;
    position:absolute;
    cursor: pointer;
}

.module-zvezda {
    left:5px;
    top:235px;
}

.module-zarya {
    left:160px;
    top:235px;
}

.module-unity {
    left:315px;
    top:235px;
}

.module-tranquility {
    left:315px;
    top:80px;
}

.module-airlock {
    left:315px;
    top:390px;
}

.module-destiny {
    top:235px;
    left:470px;
}

.module-node2 {
    top:235px;
    left:625px;
}

.module-columbus {
    top:390px;
    left:625px;
}

.selected-module {
    border: 2px solid blue;
    background-color: white;
}

.closed-module {
  border: 4px solid black;
}

#sidebar {
    position:absolute;
    top:80px;
    left:825px;
    width:300px;

}

#condition-simulator {
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

#legend{
    margin-top:5px;
    width:300px;
    border: 3px solid slategray;
    border-radius:10px;
    background-color:lightgray;
}

#module-details {
    border: 3px solid slategray;
    border-radius:10px;
}


.fa-square {
    color: #820000;
}

.module-fire {
    color: red;
}

.module-size{
    font-size: 1.2em;
}

.module-airLeak {
  color: lightblue;
}

.fa-circle-red {
    color: #820000;
    font-size:36px;
    position:relative;
}

.fa-gear {
    position: absolute;
    left: 4.5px;
    top: 4.5px;
    font-size: 14pt;
}

.fa-circle-o {
    position:relative;
}

.reset-button {
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

button {
    border-radius:10px;
}

li {
    list-style-type: none;
}

ul {
    padding-left:10px;
}

.pad-right {
    padding-right:5px;
}