<div>
  <div class="selection-header">
    <h4><strong>Module</strong> : {{module.moduleName}}</h4>
  </div>
  <div id="info-container" *ngFor="let valve of module.valves; let i = index">
    <p><strong>Valve {{i + 1}}</strong> :
      <span>{{valve.state}}</span>
      <span><button class="toggle-button" (click)="toggleValve(valve.id)"><i class="fa fa-refresh"></i></button></span>
    </p>
    <div *ngIf="valve.fan">
      <p *ngIf="valve.fan?.isRunning" class="fan-indicator"><i *ngIf="valve.fan" class="fa fa-gear fa-spin"></i><strong> Fan </strong>: Running at {{valve.fan.speed}} RPM</p>
      <p *ngIf="!valve.fan?.isRunning" class="fan-indicator"><strong> Fan </strong>: Not Running</p>
    </div>
  </div>
</div>