#info-container {
    padding:5px;
}

.fan-indicator {
    margin-left:10px;
}

.toggle-button {
    font-size:10pt;
    border-radius:10px;
}

.selection-header {
    background-color:lightgray;
    margin-top:0px;
    border-radius:6px 6px 0px 0px;
}

h4 {
    margin-top:0px;
    padding:15px;
}