<p class="module-name">
    {{module.moduleName}}
</p>
<div class="valve-fan-display">
    <div *ngFor="let valve of module.valves" class="valve-fan-assembly">
        <div [ngSwitch]="valve.state">

            <div *ngSwitchCase="'Open'">
                <i class="fa fa-circle-o">
                    <i *ngIf="valve.fan" class="fa fa-gear fa-spin"></i>
                </i>
            </div>

            <div *ngSwitchCase="'Closed'">
                <i class="fa fa-circle-o valve-fan-inoperative">
                    <i *ngIf="valve.fan" class="fa fa-gear valve-fan-inoperative"></i>
                </i>
            </div>

        </div> <!-- End switch case -->

    </div>
    <i *ngIf="module.hasFire" class="fa fa-fire fa-2x module-fire"></i>
    <i *ngIf ="module.hasAirLeak" class = "fa fa-exclamation-triangle fa-2x module-airLeak"></i>
</div>
