.module-name {
    font-weight:bold;
    text-align:center;
    font-size:16pt;
    background-color:lightgray;
    border-radius:2px;
}

.valve-fan-display {
    margin-left:10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.fa-circle-o {
    padding-left:2px;
    padding-right:2px;
    font-size:36px;
    position:relative;
}

.fa-gear {
    position: absolute;
    left: 7.5px;
    top: 7px;
    font-size: 17pt;
}

.valve-fan-inoperative {
    color:#820000;
}

.module-fire {
  color: red;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.module-airLeak {
  color: lightblue;
  position: absolute;
  right: 40px;
  bottom: 8px;
}

